<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find mbot_sim)/worlds/maze.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>


    <!-- 运行gazebo仿真环境 -->
    <include file="$(find mbot_sim)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

<!-- mbot1 -->
    <group ns="mbot1">
        <!--机器人参数设置-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mbot_sim)/urdf/xacro/mbot_gazebo.xacro' ns:=mbot1" />


        <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


        <!-- 运行robot_state_publisher节点，发布tf  -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0" />
        </node>


        <!-- 在gazebo中加载机器人模型-->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model mbot1 -param robot_description -x 0"/> 
    </group>

<!-- mbot2 -->
    <group ns="mbot2">
        <!--机器人参数设置-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mbot_sim)/urdf/xacro/mbot_gazebo.xacro' ns:=mbot2" />


        <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


        <!-- 运行robot_state_publisher节点，发布tf  -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0" />
        </node>


        <!-- 在gazebo中加载机器人模型--> 
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model mbot2 -param robot_description -x 0.8"/> 
    </group>

<!-- mbot3 -->
    <group ns="mbot3">
        <!--机器人参数设置-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mbot_sim)/urdf/xacro/mbot_gazebo.xacro' ns:=mbot3" />


        <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


        <!-- 运行robot_state_publisher节点，发布tf  -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0" />
        </node>


        <!-- 在gazebo中加载机器人模型-->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model mbot3 -param robot_description -y 0.8"/> 
    </group>

</launch>
